MqttBrokerServer/Service References/padserver/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.25:9990/TerminalInfoReleaseWCF/ServiceOfSepcialInfo/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TerminalInfoReleaseWCF" />
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTopicInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TerminalInfoReleaseWCF" minOccurs="0" name="topicInfo" nillable="true" type="q1:SpecialTopicInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTopicInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveTopicInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="topicId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveTopicInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TerminalInfoReleaseWCF" minOccurs="0" name="ReceiveTopicInfoResult" nillable="true" type="q2:SpecialTopicInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PadOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClientType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PadOnlineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOnLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClientType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>