MqttBrokerServer/Service References/padserver/ServiceOfSepcialInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceOfSepcialInfo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceOfSepcialInfo_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.25:9990/TerminalInfoReleaseWCF/ServiceOfSepcialInfo/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.25:9990/TerminalInfoReleaseWCF/ServiceOfSepcialInfo/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.25:9990/TerminalInfoReleaseWCF/ServiceOfSepcialInfo/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TerminalInfoReleaseWCF" />
      <xsd:import schemaLocation="http://192.168.1.25:9990/TerminalInfoReleaseWCF/ServiceOfSepcialInfo/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import schemaLocation="http://192.168.1.25:9990/TerminalInfoReleaseWCF/ServiceOfSepcialInfo/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceOfSepcialInfo_RegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="IServiceOfSepcialInfo_RegisterClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClientResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOfSepcialInfo_SendTopicInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SendTopicInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceOfSepcialInfo_SendTopicInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendTopicInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOfSepcialInfo_ReceiveTopicInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveTopicInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceOfSepcialInfo_ReceiveTopicInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveTopicInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOfSepcialInfo_PadOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:PadOnline" />
  </wsdl:message>
  <wsdl:message name="IServiceOfSepcialInfo_PadOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:PadOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOfSepcialInfo_SendOnLine_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendOnLine" />
  </wsdl:message>
  <wsdl:portType name="IServiceOfSepcialInfo">
    <wsdl:operation name="RegisterClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOfSepcialInfo/RegisterClient" message="tns:IServiceOfSepcialInfo_RegisterClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOfSepcialInfo/RegisterClientResponse" message="tns:IServiceOfSepcialInfo_RegisterClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendTopicInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOfSepcialInfo/SendTopicInfo" message="tns:IServiceOfSepcialInfo_SendTopicInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOfSepcialInfo/SendTopicInfoResponse" message="tns:IServiceOfSepcialInfo_SendTopicInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveTopicInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOfSepcialInfo/ReceiveTopicInfo" message="tns:IServiceOfSepcialInfo_ReceiveTopicInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOfSepcialInfo/ReceiveTopicInfoResponse" message="tns:IServiceOfSepcialInfo_ReceiveTopicInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PadOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOfSepcialInfo/PadOnline" message="tns:IServiceOfSepcialInfo_PadOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOfSepcialInfo/PadOnlineResponse" message="tns:IServiceOfSepcialInfo_PadOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendOnLine">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOfSepcialInfo/SendOnLine" message="tns:IServiceOfSepcialInfo_SendOnLine_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceOfSepcialInfo" type="tns:IServiceOfSepcialInfo">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceOfSepcialInfo_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterClient">
      <soap12:operation soapAction="http://tempuri.org/IServiceOfSepcialInfo/RegisterClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTopicInfo">
      <soap12:operation soapAction="http://tempuri.org/IServiceOfSepcialInfo/SendTopicInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveTopicInfo">
      <soap12:operation soapAction="http://tempuri.org/IServiceOfSepcialInfo/ReceiveTopicInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PadOnline">
      <soap12:operation soapAction="http://tempuri.org/IServiceOfSepcialInfo/PadOnline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOnLine">
      <soap12:operation soapAction="http://tempuri.org/IServiceOfSepcialInfo/SendOnLine" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceOfSepcialInfo">
    <wsdl:port name="NetTcpBinding_IServiceOfSepcialInfo" binding="tns:NetTcpBinding_IServiceOfSepcialInfo">
      <soap12:address location="net.tcp://192.168.1.25:9989/TerminalInfoReleaseWCF/ServiceOfSepcialInfo/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.1.25:9989/TerminalInfoReleaseWCF/ServiceOfSepcialInfo/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>192.168.1.25</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>